{% extends 'main.html' %}

{% load static %}
{%block content%}
<section class="projectsList">
    <div class="column">
        <div class="card project">
            <div class="about-me">
                <h4></h4>
                <p>I have started my software developer journey 2022 by completing 
                    a <b>Software engineering bootcamp</b> where i expanded my knowledge
                    with Python and Azure.<br>
                </p>
                <p>After completion i continued to deep dive into Azure, learning and obtaining 
                    certificates for all fundamentlals: <br><b>
                    Az-900 Microsoft Azure Fundamentals.<br>
                    AI-900 Microsoft Azure AI Fundamentals<br>
                    DP- 900 Microsoft Azure Data Fundamentals<br>
                    SC-900 Microsoft Security, Compliance, and Identity Fundamentals</p></b>
                <br>
                <p> Afterwards i have completed <b>AZ-204 Microsoft Certified: Azure Developer Associate</b> certification
                and now working towards obtaining <b>AZ-400 Designing and Implementing Microsoft DevOps Solutions.</b>
                </p>
                <br>
                <p>Click to verify my  <a target="_blank" href="https://www.credly.com/users/paulius-spudyd/badges#">Microsoft certificates</a></p>
            </div>
        </div>
    </div>    
</section>
{%endblock content%}